nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

button {
    all: unset;
    cursor: pointer;
    font-family: Geist;
    font-size: 1.5rem;
    border: 2px solid hsl(var(--primary));
    border-radius: var(--radius);
    padding: 1px 0.5rem 0.1rem 0.5rem;
}

ul li {
    list-style: none;
}

a {
    all: unset;
}

#navbar {
    width: 20vw;
    height: 100vh;
    background-color: hsl(var(--secondary));
    border-right: 2px solid hsl(var(--border));
    border-radius: var(--radius);
    transition: all 0.3s ease;
    z-index: 0;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
}

.bottom div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bottom button {
    border-radius: 2rem;
}

img {
    width: 3rem;
    height: 1rem;
}
