
#popup
{  
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.popup {
    
    position: relative;
    width: 450px;
    height: 400px;
    background-color: hsl(var(--secondary));;
    border-radius: 25px;
        
}
.play-btn{
    position: absolute;
    
    color:hsl(var(--foreground));
    top:75%;
    right: 20%;
}
.game-name{
    position: relative;
    font-size: 30px;
    margin-left: 12%;
    color: (var(--primary));;
    color: hsl(var(--primary));
}
.game-img{
    
    margin: 10px 0px 0px 50px;
    width: 350px;
    height: 250px;
    border-radius: 15px;
    

}
.cls-btn{
    font-size: 20px;
    padding: 0px 6px 0px 6px;
    margin: 0;
    border: 1px solid red;
    color: red;
    float: right;
   
}