<link rel="stylesheet" href="../static/components/Layout.css" />
<div class="layout-container">
    <div class="lc1"><div id="lc1-inner2"></div><div id="lc1-inner1"></div><h2 id="player1">Player1</h2></div>
    <div class="lc2"><div id="lc2-inner2"></div><div id="lc2-inner1"></div><h2 id="player2">Player2</h2></div>
    <div class="lc3"><div id="lc3-inner2"></div><div id="lc3-inner1"></div><h2 id="player3">Player3</h2></div>
    <div class="lc4"><div id="lc4-inner2"></div><div id="lc4-inner1"></div><h2 id="player4">Player4</h2></div>
</div>