<link rel="stylesheet" href="../static/components/Navbar.css" />
<nav>
    <div class="top">
        <h2 id="navbar-title">GameWave</h2>
        <button id="nav-toggle-button"><</button>
    </div>
    <div class="bottom">
        <div>
            <ul>
                <li>About Us</li>
            </ul>
        </div>
        <div>
            <button id="theme-toggle-button">
                <img
                    id="theme-toggle-img"
                    src="../static/assets/image/sun.svg"
                    alt="sun"
                />
            </button>
            <a href="https://github.com/Begin-Coders/GameWave" target="_blank">
                <button>
                    <img
                        id="github-logo"
                        src="../static/assets/image/github-black.svg"
                        alt="github"
                    />
                </button>
            </a>
        </div>
    </div>
</nav>
