<link rel="stylesheet" href="../static/components/Popup.css" />

<div class="popup">
    <button class="cls-btn">x</button>
    <img class="game-img" src="../static/assets/image/man-racing-dirt-bike-fantasy-environment_23-2151500473.avif" alt="" />
    <div class="game-name"></div>
    <select name="" id="">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <button  class="play-btn">Start</button>
</div>
