<link rel="stylesheet" href="../static/components/Popup.css" />

<div class="popup">
    <img id="popup-game-img" src="" alt="" />
    <div id="popup-game-details">
        <h2 id="popup-game-title"></h2>
        <div id="popup-game-options">
            <h4>Game Options</h4>
            <form action="">
                <label>Player Count: </label>
                <select id="pop-up-pc"></select>
            </form>
        </div>
        <button id="popup-play-btn">Play</button>
    </div>
</div>
