<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/components/Navbar.css">
</head>
<body>
    <div class="popup">
        <button class="cross-btn">X</button>
        <img class="game-img" src="./man-racing-dirt-bike-fantasy-environment_23-2151500473.avif" alt="">
        <div class="game-name">Bike Racing</div>
        <button class="start-btn">Start</button>
    </div>
</div>
</body>
</html>